{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %}Aupa Bilbao!{% endblock %}

{% block headline %}Aupa Bilbao!{% endblock headline %}

{% block footer %}
<p>Sexy footer 2016</p>
{% endblock footer %}

{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { 'fixedTop': true } %}
        {% block brand %}
            <a class="navbar-brand" href="#">Aupa</a>
        {% endblock %}

        {% block menu %}
            {{ mopa_bootstrap_menu('AppBundle:Builder:mainMenu', { 'automenu': 'navbar', 'currentClass': '' }) }}
        {% endblock %}
    {% endembed %}
{% endblock navbar %}

{% block head_style %}
    {% if app.debug %}
    <link href="{{ asset('css/app.css') }}" type="text/css" rel="stylesheet" />
    {% else %}
    <link href="{{ asset('css/app.min.css') }}" type="text/css" rel="stylesheet" />
    {% endif %}
{% endblock head_style %}
